html {
    background-color: #FFFEEE;
    color: #3A322E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}


h2 {
    font-size: 90%;
    margin-left: 0.2em;
}

header {
    background-color: rgb(226, 226, 224);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;
}

#leftHeader {
    height: 100%;
    margin-left: 25px;
    margin-top: 10px;
    align-content: center;
}

#settingsWrap {
    margin: 15px 15px 0 0;
}

#bodyWrap{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin-top: -250px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 300px;
    justify-content: center;
    align-content: center;
    background-color: #D92B33;
    border: 5px solid #3A322E;
    border-radius: 1%;
    color:#FFFEEE;
}

#choicesWrap{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
    height: 40px;
}

#clockText {
    width: 100%;
    text-align: center;
    font-size: 600%;

}

#startBtnWrap {
    display: flex;
    width: 100%;
    height: 50px;
    align-self: flex-end;
    justify-content: center;
    margin-top: 45px;
}

button {
    background-color: #E45A5B;
    padding: 10px;
    border: none;
    border-radius: 5%;
}

#bodyWrap button {
    font-size: 95%;
    color: #FFFEEE;
}

button:hover {
    transform: scale(1.05);
    background-color: #E14A4D;
    transition: 0.2s;
}

footer{
    position: fixed;
    display: flex;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #E45A5B;
    justify-content: center;
}

a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

footer img{
    width: 80px;
    height: 80px;
}
